*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}
.container{
    position: relative;
    display: flex;
    padding: 80px 40px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}
.card{
    position: relative;
    width: 350px;
    height: 180;
    background: #333;
    transition: 0.5s;
}
.card:hover{
    height: 450px;
}
.card .lines{
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}
.card .lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent,#45f3ff,#45f3ff);
    animation: animate 4s linear infinite;
}